@import url('reset.css');
@import url('basic.css');

.main{
    margin: 0 auto;
    background-image: url(../img/open1.jpg);
    background-size: cover;
    height: 732px;
    background-position: center bottom;

}
.main h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding: 150px;
    animation: bigTitleA .5s cubic-bezier(0.25,.1,.25,.1) forwards;
   
}

@keyframes bigTitleA{
	0%{ transform: translateX(-170px); opacity: 0; }
	100%{ transform: translateX(0px); opacity: 1; }
}
.main2{
    background-image: url(../img/open4.1.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.main2 .kids{
    margin-left: 200px;

}
.main2 img {
    width: 360px;
    height: 360px;
    /* height: auto; */
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    /* margin-bottom: 20px; */
    transition: opacity 0.3s ease; 
  }
.main2 .show{
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}

.main2 .hide{
    display: none;
}

.main2 .image-right{
    width: 440px;
    height: 360px;
    background: #EEE5E9;
    border-radius: 50px;
    margin-right: 100px;    
}

.main2 .box{
    /* display: flex;
    align-items: center; */
    
    margin-bottom: 30px;
    margin-left: 30px;
}

.main2 .box li{
    padding: 20px;
    width: 320px;
    height: 40px;
    border-bottom: 3px solid #5686E1;
    font-weight: bold;
    text-align: left;
    position: relative;
    cursor: pointer;
    color: #333;
    margin: 10px 0;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 40px;

    
}
    
.box li:hover::before{
    content: '\f0c2';
    font-family: 'Font Awesome 6 Free';
    width: 30px;
    height: 30px;
    position: absolute;
    color: #5686E1;
    top: 20%;
    bottom: 0;
    left:0;
    transform: translateY(-50%);
    margin-top: 30px;
    transition: all .5s;
}

.box li:hover{
    color: #5686E1;
}


/* ----------------斷點--------------- */

@media screen and (max-width:1100px){
    .main2{
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */

    }
    
    .main2 .box li{
        
    }

    .box li:hover::before{
        margin-top: 20px;
        top:10%;
    }
    .main2 .kids{
        margin: 0 auto; 
    }
    
    .main2 .image-right{
        margin: 20px 0;
        
    }
    footer{
        margin-top: 80px;
    }
}

@media screen and (max-width:820px){
    .main2{
        background-image: none;
    }
    /* .main2 .kids{
       display: block;
       margin-top: 60px;
    }
    */
    .main2 .box{
        
    }
}
  
@media screen and (max-width:430px){

    .main2 .show{
        width: 80%;
    }

    .copyright{
        position: ;
    }
    .copyright p{
        font-size: 12px;
    }
    footer .fb-ig{
        padding-right: 10px;    
    }   
    .fb-ig a{
        margin-left: 10px;
    } 
}




